# model checkpoint
ckpt/
preprocess/models/ckpt/

# data (raw and preprocessed)
data/

# Data files
subjects_list/

# Data creation .py files
makers/

# Byte-compiled / optimized / DLL files
models/__pycache__/
preprocess/__pycache__/
src/__pycache__/
utils/__pycache__/
__pycache__/
*.py[cod]
*$py.class
.vscode

# cython debug symbols
cython_debug/

# environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
